{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Kunal Pundir</title>
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	
	<!--<link rel="stylesheet" type="text/css" href="blog.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
</head>
<body>

	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>Kunal</strong> Pundir</h1>
			<span class="job-title">Developer/Programmer</span>
			<span class="email"><a href="mailto:kunalpundir200797@gmail.com">kunalpundir200797@gmail</a> | +91-9585044407</span>
			


			<span><h2 class="lead"> An efficient problem solver and an engineering student with strong analytical and 
			interpersonal skills who values innovation and exercises independent sound judgment. 
			Technically accomplished professional 
			with good leadership skills has genuine interest in professional development. </h2></span>
		</div>
	</div>

<!-- Skills and intrest section -->
	<div class="container">

		<div class="sections">
			<h2 class="section-title">Skills</h2>

			<div class="list-card">
				
				<div>
					<h3>Java </h3>
					<span>Data Structures and Algorithm</span>
				</div>
			</div>
			
			<div class="list-card">
				
				<div>
					<h3>Web Development</h3>
					<span>HTML, CSS, JavaScript, PHP, Django</span>
				</div>
			</div>	
					
			<div class="list-card">
				
				<div>
					<h3>Database Management</h3>
					<span>SQL</span>
				</div>
			</div>


		</div>
		<div class="sections">
				<h2 class="section-title">Online Courses</h2>
				
				<div class="list-card">
					<div>
						<h3>Data Structures and Algorithm in Java</h3>
						<span>Coding Ninjas</span></br>
						<span>May. 2019 - July 2019</span>
					</div>
				</div>	

				<div class="list-card">
					<div>
						<h3>Big Data Analytics</h3>
						<span>Coursera</span></br>
						<span>Oct. 2017 - Nov.2017</span>
					</div>
				</div>		
		</div>
	</div>

	<!-- Achievements -->

	<div class="container cards">
		<h2 class="section-title">Projects</h2>
		<div class="card">
			<div class="skill-level">
				<!--<span>+</span>-->
				<h2>1</h2>
			</div>

			<div class="skill-meta">
				<h3>Portfolio</h3>
				<span>Personal Portfolio coded in Django - an opensource web framework
				written in python and hosted on python anywhere.</span>
			</div>
		</div>

			
		<div class="card">
			<div class="skill-level">
				<h2>2</h2>
				<!--<span>%</span>-->
			</div>

			<div class="skill-meta">
				<h3>Question-Answer Web Portal</h3>
				<span>A prototype like stackoverflow.com using web technologies like HTML, CSS, JavaScript for front-end and SQL
				for backend</span>
			</div>
		</div>

			
		<div class="card">
			<div class="skill-level">
				<h2>3</h2>
				<!--<span>%</span>-->
			</div>

			<div class="skill-meta">
				<h3>Plagiarism Detection using Levenshtein Distance</h3>
				<span>Calculates plagiarism among two ﬁles by calculating number of edits required to convert one string to another. </span>
			</div>
		</div>


		<div class="card">
			<div class="skill-level">
				<h2>4</h2>
				<!--<span>%</span>-->
			</div>

			<div class="skill-meta">
				<h3>Chrome Extension for Game of Thrones</h3>
				<span>A JavaScript script developed to save myself from spoilers by blurring images and text on the web</span>
			</div>
		</div>

	</div>

	<!-- Timeeline -->

	<div class="container">
		<ol class="timeline">
		  <li>
		    <p class="line">Experiences</p>
		    <span class="point"></span>
		    <p class="description">
		      Worked as a Trainee at ONGC
		    </p>
		    <span class="date">May, 2019 - June, 2019</span>
		  </li>

		  <!--<li>
		    <span class="point"></span>
		    <p class="description">
		      Freelance
		    </p>
		    <span class="date">Apr. 2016 - Sep. 2015</span>
		  </li>-->

		  <li>
		    <p class="line">Education</p>
		    <span class="point"></span>
		    <p class="description">
		      B.Tech. in IT at VIT, Vellore
			  CGPA : 7.86(till Sem 6)
		    </p>
		    <span class="date">2016 - 2020</span>
		  </li>

		  <li>
		    <span class="point"></span>
		    <p class="description">
		      Class 12</br>
			  Percentage : 86.75</br>
			  Dehradun, UK
		    </p>
		    <span class="date">2015</span>
		  </li>
		  
		  <li>
		    <span class="point"></span>
		    <p class="description">
		      Class 10</br>
			  Percentage : 88.00</br>
			  Dehradun, UK
		    </p>
		    <span class="date">2013</span>
		  </li>
		</ol>

	</div>


	<br><br>

<!--
	<footer class="container">
		<span style="font-size: 16px; margin-top: ">Coded by <a href="https://newtodesign.com/">New to design </a> Designed by <a href="https://dribbble.com/shots/4342703-Minimal-resume-freebie-for-junior-self-taught-people">Nicolas Meuzard</a></span>
	</footer>
-->

</body>
</html>